body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

.me {
    text-align: center;
    border-radius: 20%;
}

.nav-list {
    background-color: goldenrod;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-list li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: xx-large;
}

.nav-list li:hover {
    background-color: brown;
    color: antiquewhite;
}
