body {
    background-color: bisque;
}

.nav-list {
    background-color: goldenrod;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;   
    display: flex;
    flex-direction: center;
}

.nav-list li {
    display: flex;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: bisque;
    color:black;
    border-radius: 8px;
    width: 200px;
}

.btn:hover {
    background-color: grey;
    color:antiquewhite;
    transform: scale(1.1);
}

footer {
    text-align: center;
    position: absolute;
    bottom: 	0;
    width: 100%;
}