body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

.me {
    text-align: center;
}

.nav-list {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
}

.nav-list li {
    display: inline;
    text-align: center;
}